<mat-toolbar color="white">

  <mat-toolbar-row>
    <a class="navbar-brand" href="#">
      <img src="../../../assets/img/ilogoNew.jpg" style="width: 354px; height: 100px;padding-top: 20px;"/>
    </a>
    <span class="flexExpand"></span>
    <div hidden>
      <a mat-button [routerLink]="'/logout'"> Arabic </a>
    </div>
  </mat-toolbar-row>


  <!--<mat-toolbar-row>-->
    <!--<a class="navbar-brand" href="#">-->
      <!--<img src="../../../assets/img/ilogoNew.jpg" style="width: 354px; height: 100px;padding-top: 20px;"/>-->
    <!--</a>-->
    <!--<span class="menu-spacer"></span>-->
    <!--<p>Arabic</p>-->
  <!--</mat-toolbar-row>-->


</mat-toolbar>

<br/>

<mat-sidenav-container>
  <mat-sidenav-content>
    <mat-tab-group>
      <mat-tab label="Home">
         </mat-tab>

      <mat-tab label="About">
        <blockquote class="blockquote bq-success">
          <h4>
            ITANI is Lebanese leading producer of sanitary ware.
            The product range includes sanitary ware, bathtubs, shower trays, bathroom furniture, wall sections, special fittings for kindergartens, electronic urinal flushing systems, dry urinal technology and sanitary products.

<br/>
            <h4>
              We supply styles of loading dock bumpers intended for use on loading docks, dock equipment, trucks, and within the warehouse or home.
              Choose from Laminated Bumpers, Extruded Bumpers, Molded Bumpers, or Steel Faced Bumpers.

            </h4>

          </h4>
        </blockquote>
        </mat-tab>



      <mat-tab label="Contact">

                <ul><li><i class="fa fa-map-marker"></i><span>Address:</span> Street Mar Elias - Chahine Building</li></ul>

                <ul><li><i class="fa fa-phone"></i><span>Phone:</span> 00961-1-311913 </li></ul>



                <ul><li><i class="fa fa-fax"></i><span>Fax:</span> 00961-1-311912 </li></ul>

                <ul><li><i class="fa fa-archive"></i><span>PO Box:</span> 13-5889-Chouran Beirut-Lebanon</li></ul>

                <ul><li><i class="fa fa-envelope"></i><span>Email:</span> info@itaniformaterials.com</li></ul>




      </mat-tab>

    </mat-tab-group>
  </mat-sidenav-content>
</mat-sidenav-container>
