<blockquote class="blockquote bq-success">
  <h2 class="pageTitle">Contact Us</h2>

  <div class="row">

    <div class="info-detail">

      <!-- <ul><li><i class="fa fa-calendar"></i><span>Monday - Friday:</span> 9:30 AM to 6:30 PM</li></ul>-->

      <ul><li><i class="fa fa-map-marker"></i><span>Address:</span> Street Mar Elias - Chahine Building</li></ul>

      <ul><li><i class="fa fa-phone"></i><span>Phone:</span> 00961-1-311913 </li></ul>



      <ul><li><i class="fa fa-fax"></i><span>Fax:</span> 00961-1-311912 </li></ul>

      <ul><li><i class="fa fa-archive"></i><span>PO Box:</span> 13-5889-Chouran Beirut-Lebanon</li></ul>

      <ul><li><i class="fa fa-envelope"></i><span>Email:</span> info@itaniformaterials.com</li></ul>



    </div>

  </div>

</blockquote>
