<section id="inner-headline">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="pageTitle">ITA SANITARY </h2>

      </div>

    </div>

  </div>

</section>



<mat-grid-list cols="2" [cols]="breakpoint"  (window:resize)="onResize($event)" >
  <mat-grid-tile>
      <img src="../../assets/images/ita/VT11801.jpg">
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="../../assets/images/ita/VT11803.jpg" >
  </mat-grid-tile>

  <mat-grid-tile>
    <img src="../../assets/images/ita/VT11805.jpg" >
  </mat-grid-tile>

  <mat-grid-tile>
    <img src="../../assets/images/ita/VT11901.jpg" >
  </mat-grid-tile>

  <mat-grid-tile>
    <img src="../../assets/images/ita/VT11903.jpg" >
  </mat-grid-tile>

</mat-grid-list>



