<!--<app-pheader></app-pheader>-->

<blockquote class="blockquote bq-success">
<h4>
ITANI is Lebanese leading producer of sanitary ware.
The product range includes sanitary ware, bathtubs, shower trays, bathroom furniture, wall sections, special fittings for kindergartens, electronic urinal flushing systems, dry urinal technology and sanitary products.

<br/>
<h4>
We supply styles of loading dock bumpers intended for use on loading docks, dock equipment, trucks, and within the warehouse or home.
Choose from Laminated Bumpers, Extruded Bumpers, Molded Bumpers, or Steel Faced Bumpers.

</h4>

</h4>
</blockquote>



<div style="width: 100%; height: 500px; text-align:center;margin:0; padding:0;">
  <ng-image-slider #nav
                   [images]="imageObject"
                   [infinite]="true"
                   [autoSlide]="1"
                   [animationSpeed]="3"
                   [imageSize]="{width: '55%', height: 400}"
                   slideImage="1"></ng-image-slider>
</div>
